<h4>Customer issue information</h4>

<div>

<h4>customer name : <b><%= name %></b></h4>
<h4>contact details : <b><%= contact_details %></b></h4>
<h4>issue facing in : <b><%= issue %></b></h4>
<h4>subcategory : <b><%= specified %></b></h4>

</div>


 